# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

node_modules
dist
*.local
*.tsbuildinfo

# Rust
src-tauri/target/
src-tauri/gen/schemas/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

coverage/

.env*
!.env.example
